* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

.header button {
    font-size: 18px;
    padding: 4px 12px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 8px;
}

.library {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.library .card {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 12px;
    padding: 12px;
    /* text-align: center; */
}

.library .card .card-details {
}

.library .card .title {
    font-size: 20px;
    font-weight: bold;
}

.library .card .author {
    margin-top: 3px;
    color: rgb(99, 97, 97);
}

.library .card .page-count,
.library .card .read-status,
.library .card .cta-container {
    margin-top: 10px;
}

.library .card .cta-container .remove {
    padding: 3px 9px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.829);
    color: white;
}

dialog {
    margin: auto;
    padding: 20px;
}

dialog h2 {
    margin-bottom: 20px;
}

dialog#add-new-book-dialog form p + p {
    margin-top: 12px;
}

dialog#add-new-book-dialog form p {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

dialog#add-new-book-dialog form .read-status-field {
    flex-direction: row;
}

dialog#add-new-book-dialog form input {
    padding: 4px 8px;
    font-size: 18px;
}

dialog#add-new-book-dialog form .cta-container {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

dialog#add-new-book-dialog form .cta-container button {
    padding: 4px 12px;
    font-size: 16px;
}